@import './theme.scss';


.mk-window-screen {
    border-radius: $defaultBorder;
    overflow: hidden;

    .mk-taskbar {
        // height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        $circleSize: 12px;

        .mk-circles {
            display: flex;
        }

        .mk-circle {
            width: $circleSize;
            height: $circleSize;
            margin: 0 5px;
            border-radius: 50%;
        }

        .mk-circle1 {
            background-color: #431852; /* Second dark gray purple */
        }

        .mk-circle2 {
            background-color: #594f6a; /* Gray purple */
        }

        .mk-circle3 {
            background-color: #7f85ae; /* Gray blue */
        }

        .mk-url {
            flex: 1;
            display: flex;
            justify-content: center;

            .mk-url-box {
                background-color: rgba(67, 24, 82, 0.3); /* Using second dark gray purple with transparency */
                font-size: 14px;
                padding: 5px;
                width: 70%;
                text-align: center;
                border-radius: $defaultBorder;
                color: $themeColor2; /* Changed to white for better visibility */
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}